/* Universal styles */
body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

/* header */
header {
  font-weight: normal;
  font-size: 26px;
}
header h6 {
  color: aquamarine;
  font-size: 14px;
}
main h1 {
  font-weight: 300;
  font-size: 40px;
}
main p {
  font-size: 21px;
  color: gray;
}
